{% extends 'TodoMVCTodoMVCBundle:Todo:layout.html.twig' %}

{% block content %}
    {% set completed = 0 %}
    <section id="main">
        <ul id="todo-list">
            {% if todos | length <= 0 %}
                <li class="active">
                    <label>nothing</label>
                </li>
            {% endif %}
            {% for todo in todos %}
                <li class="{% if todo.getCompleted %}completed{% else %}active{% endif %}">
                    {{ form_start(checkForms[todo.id], {'action': path('check', {'id': todo.id}), 'method': 'PUT'}) }}
                        {{ form_widget(checkForms[todo.id].check, {'attr': {'class': 'toggle'}, 'label': '✔'}) }}
                    {{ form_end(checkForms[todo.id]) }}
                    <label>{{ todo.title }}</label>
                    {{ form_start(deleteForms[todo.id], {'action': path('delete', {'id': todo.id}), 'method': 'DELETE'}) }}
                        {{ form_widget(deleteForms[todo.id].delete, {'attr': {'class': 'destroy'}, 'label': '✖'}) }}
                    {{ form_end(deleteForms[todo.id]) }}
                </li>
                {% if todo.getCompleted %}
                    {% set completed = completed + 1 %}
                {% endif %}
            {% endfor %}
        </ul>
    </section>

    <footer id="footer">
        <span id="todo-count">
            <strong>{{ todos | length - completed }}</strong> todos left
        </span>

        <ul id="filters">
            <li>
                <a id="link_list" href="{{ path('list', {'sort': '-createdAt'}) }}" class="selected">All</a>
            </li>
            <li>
                <a id="link_active" href="{{ path('list', {'filter': '-completed'}) }}">Active</a>
            </li>
            <li>
                <a id="link_completed" href="{{ path('list', {'filter': 'completed'}) }}">Completed</a>
            </li>
        </ul>

        {{ form_start(clearForm, {'action': path('clear'), 'method': 'DELETE'}) }}
            {{ form_widget(clearForm.clear, {'attr': {'class': 'clear-completed'}, 'label': 'Clear completed (' ~ completed ~ ')'}) }}
        {{ form_end(clearForm) }}
    </footer>
{% endblock content %}
